COZE_API_TOKEN=your_coze_api_token
COZE_WORKFLOW_ID=your_coze_workflow_id
COZE_API_BASE=https://api.coze.cn
COZE_FILE_UPLOAD_PATH=/v1/files/upload
COZE_WORKFLOW_RUN_PATH=/v1/workflow/run
COZE_WORKFLOW_TIMEOUT_MS=300000
COZE_WORKFLOW_HISTORY_PATH=/v1/workflows/:workflow_id/run_histories/:execute_id
COZE_WORKFLOW_POLL_INTERVAL_MS=3000
COZE_WORKFLOW_POLL_TIMEOUT_MS=600000
TASK_CONCURRENCY=2
